* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
.page {
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.header {
   height: 40px;
   background-color: yellow;
}

.navig {
   display: flex;
   align-items: center;
   height: 40px;
}
.navigation__item {
   margin-left: 16px;
   list-style-type: none;
   justify-content: center;
}
.content {
   display: flex;
   flex-grow: 1;
}
.fool {
   flex-wrap: wrap;
   background-color: pink;
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

.news {
   width: 200px;
   background-color: grey;
}
.text_news {
   display: flex;
   justify-content: center;
   margin: 16px;
}
.items_news {
   align-items: center;
   margin-bottom: 40px;
}
.news__item {
   list-style-type: none;
   margin-left: 16px;
   height: 40px;
   display: flex;
   align-items: center;
}

.footer {
   background-color: green;
   height: 40px;
   display: flex;
}
.foot__text {
   margin: auto;
}
