* {
   margin: 32px;
}
body {
   font-family: Roboto, sans-serif;
   font-size: 18px;
}
h1 {
   word-spacing: 20px;
   text-align: center;
   text-transform: uppercase;
}
p{
   line-height: 28px;
}
.tech{
   font-weight: 900;
   letter-spacing: 3px;
   font-size: 24px;
   opacity: 0.8;
   text-decoration-line: underline;
}
a{
   text-decoration: none;
}
em{
   font-style: italic;
   color: gray;
}