div{
   border: 2px solid black;
   box-sizing: border-box;
}
.blue{
   height: 400px;
   margin: 50px;
   background-color: blue;
}
.yellow{
   background-color: yellow;
   height: 300px;
   margin: 50px;
}
.green{
   background-color: green;
   height: 200px;
   margin: 50px;
}
.pink{
   background-color: pink;
   height: 100px;
   margin: 50px;
}