div{
   border: 2px solid black;
   box-sizing: content-box;
}
.blue{
   height: 416px;
   margin: 50px;
   background-color: blue;
}
.yellow{
   background-color: yellow;
   height: 308px;
   margin: 50px;
}
.green{
   background-color: green;
   height: 204px;
   margin: 50px;
}
.pink{
   background-color: pink;
   height: 100px;
   margin: 50px;
}