div{
   box-sizing: border-box;
}
.mar{
   
   border: 2px solid black;
   padding: 50px 50px 0px 50px;
}
.blue{
   background-color: blue;
   height: 400px;
   margin: 50px;
}
.yellow{
   background-color: yellow;
   height: 300px;
}
.green{
  
   background-color: green;
   height: 200px;
}
.pink{
   background-color: pink;
   height: 100px;
}