* {
   box-sizing: border-box;
}
div {
   position: relative;
   display: flex;
   margin: 16px;
   border-bottom: 1px dotted black;
   position: fixed;
}
.tooltip{
   display: none;
}
div:hover .tooltip {
   display: flex;
   position: absolute;
   bottom: -40px;
   background-color: grey;
   color: white;
   border-radius: 4px;
   padding: 8px;
}
