* {
   box-sizing: border-box;
}
.block {
   display: flex;
   height: 100px;
   min-width: 84px;
   flex-grow: 1;
}
.container {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   min-width: 100px;
   justify-content: space-around;
}
