* {
   box-sizing: border-box;
}

.header__text {
   display: flex;
   justify-content: space-around;
}
.article {
   margin: 8px;
   padding: 16px;
   background-color: bisque;
   min-width: 300px;
}
