*{
   box-sizing: border-box;
}
table{
   margin: 16px;
   border: 1px solid black;
}
td{
   height: 50px;
   width: 50px;
   text-align: center;
}
table,
tr:not(:first-child, :last-child) td:not(:first-child, :last-child) {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) td:nth-child(odd){
   background-color: black;
    border: 1px solid black;
}
tr:nth-child(odd) td:nth-child(even){
   background-color: black;
   border: 1px solid black;
} 
tr>td:nth-child(1){
   background-color: white !important;
   border: none !important;
}
tr:nth-child(1) td{
   background-color: white !important;
   border: none !important;
}
tr>td:nth-child(10){
   background-color: white !important;
   border: none !important;
}
tr:nth-child(10) td{
   background-color: white !important;
   border: none !important;
}
