li{
   margin-bottom: 16px;
}
ol>li{
   background-color: green;
   color: #fff;
}
ul>li{
   background-color: orange;
   color: #fff;
}
#special + li{
   border: 3px solid red;
}
#special ~ li{
   margin-left: 16px;
}